h1{
    background-color: blue;
    color:aliceblue   
 }
*{
    border:solid
}

.header{
background-color: wheat;
display: flex;
justify-content:space-between;
}
.games{
    background-color: rgba(255, 252, 252, 0.221);
    
}

.footer{
    background-color: antiquewhite;
    display: flex;
    justify-content: flex-end;
}